.con{
    width: 360px;
    scroll-snap-align: start;
    height: 100%;
    margin-right: 1%;
    background-color: chartreuse;
    h1{
        margin: 0;
    }
}

.cardImg{
    height: 100%;
    // width: 340px;   
}

@media (max-width: 576px) {
    .con{
        width: 220px;
        height: 78%;
        margin-right: 3%;
    }
}